/******************************************************************************\
# CSS - NEON_IMAGE                               #       Maximum Tension       #
################################################################################
#                                                #      -__            __-     #
# Teoman Deniz                                   #  :    :!1!-_    _-!1!:    : #
# maximum-tension.com                            #  ::                      :: #
#                                                #  :!:    : :: : :  :  ::::!: #
# +.....................++.....................+ #   :!:: :!:!1:!:!::1:::!!!:  #
# : C - Maximum Tension :: Create - 2025/03/05 : #   ::!::!!1001010!:!11!!::   #
# :---------------------::---------------------: #   :!1!!11000000000011!!:    #
# : License - MIT       :: Update - 2025/03/19 : #    ::::!!!1!!1!!!1!!!::     #
# +.....................++.....................+ #       ::::!::!:::!::::      #
\******************************************************************************/

.NEON_IMAGE
{
	POSITION: RELATIVE;
	 DISPLAY: INLINE-BLOCK;
}

.NEON_IMAGE .NEON_BLUR_SMALL,
.NEON_IMAGE .NEON_BLUR_BIG
{
	POSITION: ABSOLUTE;
	 Z-INDEX: -1;
}

.NEON_IMAGE .NEON_BLUR_SMALL
{
	POINTER-EVENTS: NONE;
	        HEIGHT: 110%;
	         WIDTH: 110%;
	          LEFT: -5%;
	           TOP: -5%;

	-WEBKIT-FILTER: URL(#NEON_BLUR_SMALL) SATURATE(5);
	        FILTER: URL(#NEON_BLUR_SMALL) SATURATE(5);
}

.NEON_IMAGE .NEON_BLUR_BIG
{
	POINTER-EVENTS: NONE;
	        HEIGHT: 200%;
	         WIDTH: 200%;
	          LEFT: -50%;
	           TOP: -50%;

	-WEBKIT-FILTER: URL(#NEON_BLUR_BIG);
	        FILTER: URL(#NEON_BLUR_BIG);
}

.NEON_IMAGE .NEON_IMG
{
	POSITION: RELATIVE;
	 DISPLAY: BLOCK;
	  HEIGHT: AUTO;
}
